{% extends 'base.html' %}

{% block content %}

<div>
  <h1>{{subject.title}}</h1>
  <br />
  <a href="{% url 'blogs:edit_subject' subject_id=subject.id %}">Edit Subject</a>
  <form method="POST" action="{% url 'blogs:delete_subject' subject_id=subject.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete Subject" />
  </form>
</div>
<div>
  <br />
  <button onclick="goBack()">Back to Subjects</button>
</div>
<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}